.button {
    height: 80px;
    font-size: 20px;
    border-radius: 40px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    cursor: pointer;
    @media (max-width: 1300px) {
        font-size: 17px;
        height: 60px;
        padding: 10px;
    }
}