.footer {
    background-color: rgb(249, 249, 249);
    padding-top: 60px;

    .container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding: 50px 0 50px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin: auto;
        font-weight: 500;
        @media (max-width:1100px) {
            width: 90%;
        }
        .socialLinks{
            width: 134px;
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            svg{
                cursor: pointer;
            }
        }

        p {
            color: rgba(0, 0, 0, 0.6);
            padding: 0 20px 0 0;
            margin: auto;
        }
    }
}