.title {
    font-size: 30px;
    color: $primary-red;
    font-weight: bold;
    text-align: center;
    padding-top: 130px;

    @media (max-width:800px) {
        padding-top: 70px;
    }
}

.description {
    font-size: 32px;
    color: $primary-blue;
    font-weight: 700;
    max-width: 872px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
    line-height: 165.1%;

    @media (max-width:600px) {
        font-size: 20px;
    }
}

.hero {
    font-family: 'Quicksand';
    background-color: rgb(249, 249, 249);
    font-weight: 700;
    padding: 0 20px;

    .description {
        font-size: 32px;
        color: $primary-blue;
        line-height: 165.1%;
        max-width: 875px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 70px;
        padding-left: 20px;
        padding-right: 20px;

        @media (max-width:1100px) {
            font-size: 25px;
            padding-top: 30px;
        }

        @media (max-width:600px) {
            font-size: 20px;

        }
    }

    .imgContainer {
        text-align: center;
        margin-top: 30px;

        @media (max-width:1100px) {
            margin-top: 0px;
        }
    }

}

.service {
    font-family: 'Quicksand';
    background-color: rgb(249, 249, 249);
    padding: 30px 20px;

    @media (max-width:800px) {
        padding: 0px 20px;
    }

    .cards {
        display: flex;
        gap: 3%;
        justify-content: center;
        margin-top: 120px;

        @media (max-width:800px) {
            display: block;
            margin-top: 50px;
        }
    }

    .serviceCard {
        background: white;
        max-width: 387px;
        padding: 37px 41px;
        border-radius: 20px;

        @media (max-width:800px) {
            max-width: 100%;
            margin-bottom: 20px;
            text-align: center;
        }

        .descrip {
            font-size: 20px;
            color: $primary-grey;
            font-weight: 700;
            margin-top: 35px;

            @media (max-width: 600px) {
                font-size: 17px;
            }
        }
    }
}

.project {
    font-family: 'Quicksand';
    background-color: rgb(249, 249, 249);
    padding: 30px 20px 70px 20px;
    margin-top: -22px;

    @media (max-width:800px) {
        padding: 0px 20px;
    }

    .realease {
        margin-top: 100px;

        @media (max-width:800px) {
            margin-top: 50px;
        }
    }

    .projectContainer {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-bottom: 20px;

        @media (max-width:800px) {
            display: block;
            text-align: center;
            margin-bottom: 0px;
        }
    }
}

.testimonials {
    margin-top: -20%;
    font-family: 'Quicksand';
    margin-bottom: -5%;
    padding: 0 20px;

    .carouselContainer {
        margin-top: 80px;

        .text {
            font-size: 24px;
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;
            line-height: 186.1%;
            margin-bottom: 55px;
            padding: 0 20px;

            @media (max-width:600px) {
                font-size: 18px;
            }
        }

        .name {
            color: $secondary-red;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .post {
            font-size: 20px;
            color: $primary-grey;
            font-weight: 600;
        }
    }
}

.startProject {
    font-family: 'Quicksand';
    background-color: rgb(249, 249, 249);
    margin-top: -80px;
    position: relative;
    z-index: 500;

    @media (max-width:1100px) {
        margin-top: -10px;
        padding: 0 20px;
    }

    .container {
        text-align: center;
        padding: 0px 20px 30px 20px;
        width: 70%;
        background: linear-gradient(180deg, #E95978 0%, #ED6565 100%);
        border-radius: 21px;
        margin: auto;

        @media (max-width:1100px) {
            width: 85%;
        }

        .title {
            font-size: 48px;
            color: white;
            font-weight: 700;
            padding-top: 80px;

            @media (max-width:1300px) {
                font-size: 38px;
            }

            @media (max-width:600px) {
                font-size: 28px;
                padding-top: 50px;
            }
        }

        .description {
            font-size: 36px;
            color: white;
            font-weight: 400;

            @media (max-width:1300px) {
                font-size: 25px;
            }

            @media (max-width:600px) {
                font-size: 22px;
            }
        }

        .startProjctBtn {
            margin-top: 45px;
            margin-bottom: 20px;

        }
    }
}

.contact {
    font-family: 'Quicksand';
    background-color: rgb(249, 249, 249);

    .contactContainer {
        width: 72%;
        margin: auto;

        @media (max-width:1100px) {
            width: 88%;
        }

        .items {
            display: flex;
            gap: 55px;
            align-items: center;

            @media (max-width:1100px) {
                display: block;
            }
        }
    }

    .map {
        width: 50%;

        @media (max-width:1100px) {
            width: 100%;
        }

        iframe {
            border-radius: 5px;
            width: 100%;
            height: 50vh;
            margin-top: 70px;
        }
    }

    .form {
        margin-top: 80px;
        width: 50%;

        @media (max-width:1100px) {
            width: 100%;
        }

        .errorInputs {
            color: red;
            font-size: 14px;
            font-weight: 500;
            position: relative;
            bottom: 15px;
        }

        .inputInvalid {
            border: 1px solid red;
        }
    }

    .firstInputsContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width:600px) {
            display: block;
        }

        div {
            display: grid;
            width: 48%;

            @media (max-width:600px) {
                width: 100%;
            }
        }
    }

    .sendBtn {
        button {
            font-size: 16px !important;
            height: 60px;
        }
    }
}

.technologies {
    font-family: 'Quicksand';
    background-color: rgb(249, 249, 249);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -50px;

    @media (max-width:800px) {
        margin-top: 0px;
    }

    .listTechnologies {
        margin-top: 65px;
        padding-bottom: 50px;
        max-width: 1080px;
        display: flex;
        flex-wrap: wrap;
        gap: 4%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        grid-column-gap: 30px;
        grid-row-gap: 40px;

        @media (max-width:425px) {
            grid-column-gap: 10px;
        }

        span{
            border-radius: 15px;
        }


    }

    .row {
        display: flex;
        gap: 4%;
        justify-content: center;
        margin-top: 65px;
        flex-wrap: wrap;


    }
}