$primary-blue: #1A1D32;
$primary-grey: #373738;
$secondary-grey: #3C3C3C;
$primary-red: #E95879;
$secondary-red: #EB6268;


/* :export {
  primaryBlue: $primary-blue;
  secondaryGrey: $secondary-grey
} */